@model PasswordManager.Models.PasswordEntry

@{
    ViewData["Title"] = "Add Password";
}

<div class="row justify-content-center">
    <div class="col-md-6">
        <h1>Add Password</h1>
        <div class="card">
            <div class="card-body">
                <form asp-action="Add">
                    <div class="mb-3">
                        <label asp-for="URL" class="control-label"></label>
                        <input asp-for="URL" class="form-control" />
                        <span asp-validation-for="URL" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="User" class="control-label"></label>
                        <input asp-for="User" class="form-control" />
                        <span asp-validation-for="User" class="text-danger"></span>
                    </div>
                    <div class="">
                        <label asp-for="Password" class="control-label"></label>
                        <input asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <button type="submit" class="btn btn-outline-success mt-4">Add</button>
                </form>
            </div>
        </div>
    </div>
</div>

